"*":
  arpeggio:
    chords:
      arw: "() => {}"
      clg: "console.log();"
      fnc: "function(){}"
      ife: "if(){}else{}"
      jbe: "beforeEach(function(){})"
      jds: "describe('',function(){})"
      jex: "expect().toBe()"
      jit: "it('',function(){})"
      jsp: "spyOn(,'')"
      rea: "const FooComponent = props => ()"
      rgx: "//i.test()"
  "atom-minify":
    jsMinifier: "Google Closure Compiler"
  "atom-spotified":
    mode: "Tree"
    statusBarViewPosition: "left"
  "atom-spotify2":
    showEqualizer: true
  "autohide-tree-view":
    hideDelay: 80
    maxWidth: 150
    minWidth: 20
    pushEditor: true
    showDelay: 50
  "block-cursor":
    global:
      blinkOff: {}
      blinkOn: {}
  "character-table": {}
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "wrap-guide"
      "block-cursor"
      "drag-drop-text"
      "speckjs"
      "turbo-javascript"
      "atom-jasmine"
      "colorful-json"
      "mechanical-keyboard-1"
      "atom-whimsy"
      "speedkills"
      "todo-manager"
      "one-tab"
      "svgo"
      "atom-runner"
      "slack-chat"
      "autohide-tree-view"
      "process-palette"
      "atom-bracket-highlight"
      "fancy-bracket-matcher"
      "activate-power-mode"
      "random-tips"
      "jslint"
      "wrap-with-anything"
      "chrome-color-picker"
      "foldername-tabs"
      "lucid-tabs"
      "seti-icons"
      "front-icons"
      "flex-tool-bar"
      "tool-bar"
      "single-click-open"
      "atom-touch-events"
      "swackets"
      "react"
    ]
    packagesWithKeymapsDisabled: [
      "youtube-pane"
      "hey-pane"
    ]
    projectHome: "/Users/David/Work"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "eighty-shades-syntax"
    ]
    useCustomTitleBar: true
  docblockr: {}
  editor:
    fontFamily: "Fira Code"
    fontSize: 10
    invisibles: {}
    lineHeight: 1.25
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "93ba7d0d-723a-1353-1f17-ab338a77383b"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "flex-tool-bar": {}
  "foldername-tabs": {}
  "git-log": {}
  "highlight-selected": {}
  jsformat:
    brace_style: "end-expand"
    break_chained_methods: true
    format_on_save: false
  jslint:
    hideOnNoErrors: true
  jsonpp: {}
  linter:
    errorPanelHeight: 131
  "markdown-preview-plus":
    useGitHubStyle: true
  "mechanical-keyboard-1": {}
  nuclide:
    "nuclide-buck":
      compileErrorDiagnostics: false
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      hideIgnoredNames: false
    "nuclide-home":
      showHome: false
    use:
      "nuclide-arcanist": false
      "nuclide-blame-provider-hg": false
      "nuclide-bookshelf": false
      "nuclide-buck": false
      "nuclide-console": false
      "nuclide-debugger-atom": false
      "nuclide-debugger-hhvm": false
      "nuclide-debugger-lldb-client": false
      "nuclide-debugger-node": false
      "nuclide-debugger-php": false
      "nuclide-diagnostics-datatip-provider": false
      "nuclide-diagnostics-store": false
      "nuclide-diagnostics-ui": false
      "nuclide-flow": false
      "nuclide-hack": false
      "nuclide-hack-symbol-provider": false
      "nuclide-hhvm-toolbar": false
      "nuclide-language-hack": false
      "nuclide-outline-view": false
      "nuclide-test-runner": false
      "nuclide-type-coverage": false
  "one-dark-ui": {}
  "one-light-ui": {}
  "pdf-view": {}
  "plantuml-preview":
    beautifyXml: false
    bringFront: true
    jarLocation: "~/Work/plantuml.jar"
  semanticolor:
    actionscript3LanguageActionscript3:
      "attribute-name": "colorize"
      comment: "theme"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    babelEs6JavascriptLanguageBabel:
      "attribute-name": "colorize"
      comment: "theme"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "colorize"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "colorize"
      support_type: "colorize"
    cCakeFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cLanguageC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cScriptFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    clojureLanguageClojure:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptJsxReact:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptLanguageCoffeeScript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptLiterateLanguageCoffeeScript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    colorOptions:
      fade: 40
      hues: 500
      luminosity: 50
      saturation: 100
    cssLanguageCss:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    gitConfigLanguageGit:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    goLanguageGo:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    htmlAngularAngularjs:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    htmlLanguageHtml:
      "attribute-name": "colorize"
      comment: "theme"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javaLanguageJava:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javaPropertiesLanguageJava:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptJsxReact:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptLanguageJavascript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    jsonLanguageJson:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    lessLanguageLess:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    makefileLanguageMake:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    nantBuildFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    objectiveCLanguageObjectiveC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    perl6LanguagePerl:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    perlLanguagePerl:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    phpLanguagePhp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    plantumlLanguagePlantuml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    propertyListOldStyleLanguagePropertyList:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    pythonLanguagePython:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    reasonNuclideLanguageReason:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    regularExpressionsPythonLanguagePython:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyLanguageRuby:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyOnRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyOnRailsRjsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sassLanguageSass:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    scssLanguageSass:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sqlLanguageSql:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sqlRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    stringsFileLanguageObjectiveC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    tidalcyclesTidalcycles:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    tomlLanguageToml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    xmlLanguageXml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    yamlLanguageYaml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
  "seti-icons": {}
  "seti-ui":
    compactView: true
  "slack-chat": {}
  speckjs: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "svg-preview": {}
  swackets:
    colorParens: true
    colorSquareBrackets: true
  tabs: {}
  "terminal-plus":
    core: {}
    style:
      fontFamily: "Source Code Pro"
      theme: "dracula"
  "todo-manager": {}
  "todo-show":
    ignoreThesePaths: [
      "www/html5-player/ www/js/playerlib/ www/test/"
    ]
  "tool-bar": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
